/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*@font-face
{
    font-family: Laika;
    src: url("../font/LAIKA.eot") format('eot');
    src: url("../font/LAIKA.ttf") format('truetype');
}*/

@font-face {
    font-family: 'Laika';
    src: url('../font/LAIKA.eot');
    src: url('../font/LAIKA.eot?#iefix') format('embedded-opentype'),
         url('../font/LAIKA.ttf') format('truetype');
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
    text-decoration: none;
    /*cursor: pointer !important;*/
}

body {
    background-color: #e9e388;
    background-image: url("../img/bg.png");
    font-family: "Lucida Sans Unicode";
}

h1, h2 {
    text-shadow: 3px 2px 1px rgba(100, 95, 95, 0.82);
}

a {
    text-decoration: none;
    color: #403C24;

    -webkit-transition: color 200ms linear;
}

a:hover {
    color: #28677D;
}

#page-wrap {
    width: 1024px;
    min-width: 320px;
    height: auto;
    padding: 17px 17px 17px 17px;
    margin: 0 auto;

    /*box-shadow: 0 0 0 1px black inset;*/
    margin-top: 10px;
    margin-bottom: 17px;
    border: 6px dashed rgb(234, 196, 85);
}

#page-head, #page-footer {
    overflow: auto;
    background-color: #d9d47e;
    padding: 8px;
}

#page-head h1 {
    margin: 0;
    margin-left: 10px;
    float: left;
    font-size: 330%;
    /* font-family: "Poller One", cursive;*/
    font-family: "Merriweather Sans", sans-serif;
    letter-spacing: -2px;
}

#page-footer {
    margin-top: 20px;
}

#page-footer p, ul {
    margin: 0px;
    padding: 0px;
}

#page-footer ul li {
    display: inline-block;
    margin-left: 10px;
}

#footerList #creator {
    float: left;
    /*font-style: italic;*/
    margin-top: 18px;
    margin-left: 0px;
}

#footerList {
    overflow: auto;
    margin: 0 auto;
    width: 99%;
}

#creator {
    margin-left: 0px;
}

#creator p {
    display: inline;
    font-weight: bold;
    font-family: "Merriweather Sans";
    font-size: 112%;
}

#creator p a {
    /* color: #000000; */
}

#creator p a:hover {
    /* color: #4A4A4A; */
}

#footerShare {
    float: right;
}

#footerShare ul {
    margin-top: 5px;
}

#footerShare ul li {
    vertical-align: top;
}

#footerList #footerShare #footShareText {
    font-weight: bold;
    font-size: 120%;
    display: inline-block;
    margin-top: 0px;
    margin-top: 13px;
}

#page-nav ul {
    margin: 0;
    margin-top: 20px;
    margin-right: 14px;
    padding: 0;
    overflow: auto;
    float: right;
}

#page-nav ul li {
    display: inline-block;
    float: left;
    margin-left: 40px;
    font-size: 130%;
    font-weight: bold;
    overflow: hidden;
}

#page-nav ul li a {
    /* color: #000000; */
}

#page-nav ul li a:hover {
    /* color: #4A4A4A; */
}

#page-tagline {
    text-align: center;
    margin-top: 5px;
}

#page-tagline p {
    margin: 0;
    font-family: "Lucida Sans Unicode";
    font-size: 130%;
    font-style: italic;
}

#page-content {
    position: relative;
    text-align: center;
    background-color: #DCD081;
    margin-top: 5px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* ---------------------------------- */

.page-about {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 0px 15px 20px 15px;
}

.page-about #about-descr {
    font-size: 130%;
}

.page-about h2 {
    font-size: 270%;
    text-shadow: 3px 2px 1px rgba(100, 95, 95, 0.82);
    padding: 0px 10px 0px 10px;
}

.page-about ul {
    list-style: none;
}

.page-about ul li a {
    font-family: Helvetica;
    font-size: 200%;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

.page-about h3 {
    font-size: 150%;
    font-family: "Merriweather Sans", sans-serif;
    margin: 30px 0px 30px 0px;
}

.page-about p {
    font-size: 120%;
    padding: 5px;
}

/* ---------------------------------- */

#page-instructions {
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: #DCD081;
}

.coolHr {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    border-style: none none;
    background-color: #353333;
}

.coolHr2 {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    border-style: none none;
    background-color: #353333;
}

#page-instructions ul {
    list-style: none;
}

#instr-bomb {
    width: 40%;
    float: left;
}

#bomb-svg-big {
    background-image: url('../svg/bomb.svg');
    width: 400px;
    height: 400px;
    margin: 0 auto;
    /*-webkit-animation: bomb-rotate 5s linear infinite;*/
    /*-webkit-animation: bomb-pop 5s linear infinite;*/
    -webkit-animation: bomb-roll 12s linear infinite;
}

@-webkit-keyframes bomb-roll {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    40% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    41% {
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        -o-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    42% {
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    43% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    44% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    45% {
       -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    91% {
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        -o-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    92% {
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    93% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    94% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    95% {
       -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

#instr-info1 {
    width: 60%;
    min-height: 400px;
    float: left;
    text-align: center;
}

#instr-info1 h1, h3, h5, p{
    margin: 0;
}

#instr-info1 h1{
    font-size: 340%;
    font-family: "Merriweather Sans", sans-serif;
    padding-top: 40px;
}

#instr-info1 h3 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 160%;
    margin: 0 auto;
    width: 95%;
    color: #100f4a; 
}

#instr-info1 h4 {
    /*margin-top: 40px;*/
    margin-bottom: 10px;
}

#instr-info1 div {
    /*margin-top: 20px;*/
}

#instr-info1 div p{
    display: inline-block;
    vertical-align: top;
    /*padding-top: 28px;*/
    padding-top: 10px;
    font-weight: bold;
}

#warning-sign {
    background-image: url('../svg/warning-sign.svg');
    width: 50px;
    height: 42px;
    display: inline-block;
}

.simpleSpacer {
    width: 20px;
    height: 10px;
}

#instr-info2 {
    text-align: center;
}

#instr-info2 div {
    position: relative;
    display: inline-block;
}
#instr-info2 ul {
    margin-top: 40px;
    margin-bottom: 40px;
}

#instr-info2 ul li {
    text-align: left;
}

#instr-info2 p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 170%;
}

#instr-info2 p.instrQuestion {
    font-size: 270%;
    text-shadow: 3px 2px 1px rgba(100, 95, 95, 0.82);
    padding: 0px 10px 0px 10px;
}

#instr-info2 ul li p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 150%;
}

#instr-info2 div ul li p span {
    color: #38397A;
}

#page-notsupported {
    background-color: #DCD081;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    font-family: "Helvetica";
    font-size: 130%;
}

#page-notsupported h2 {
    margin: 10px 0px 10px 0px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 240%;
}

#page-notsupported p {
    margin: 10px 0px 10px 0px;
}

#page-notsupported hr {
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    border-style: none none;
    background-color: #353333;
}

#text-helpful {
    margin-top: 50px !important;
}


#renderedText {
    margin: 0 auto;
    margin-top: 135px;
    font-family: Laika;
    font-size: 300%;
    width: 80%;
    word-wrap: break-word;
}

#inputSection {
    margin-top: 120px;
    /*margin-bottom: 20px;*/
    vertical-align: top;
}

#explodeInput {
    text-align: center;
    height: 60px;
    width: 340px;
    border: none;
    font-family: "Lucida Sans Unicode";
    font-size: 150%;
    color: #A1B342;
    outline: 0px;
}

/* Placeholder text for any input boxes */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #00ff00;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

#explodeButtonOriginal {
    height: 62px;
    margin-left: 20px;
    vertical-align: top;
}

/* ----------------------------------------- */

#explodeButton {
    background-color:#dae6e4;
    -webkit-border-top-left-radius:1px;
    -moz-border-radius-topleft:1px;
    border-top-left-radius:1px;
    -webkit-border-top-right-radius:1px;
    -moz-border-radius-topright:1px;
    border-top-right-radius:1px;
    -webkit-border-bottom-right-radius:1px;
    -moz-border-radius-bottomright:1px;
    border-bottom-right-radius:1px;
    -webkit-border-bottom-left-radius:1px;
    -moz-border-radius-bottomleft:1px;
    border-bottom-left-radius:1px;
    text-indent:0px;
    display:inline-block;
    color:#636263;
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    font-style:normal;
    height:62px;
    line-height:65px;
    width:120px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    margin-left: -5px;
}#explodeButton:hover {
    background-color:#dae6e4;
    cursor: pointer;
}#explodeButton:active {
    position:relative;
    top:1px;
}
/* ----------------------------------------- */

.bombSvg {
    background-image: url("../svg/bomb.svg");
    width: 80px;
    height: 80px;
    display: inline-block;
}

.changableText {
    /*-webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 900ms, 900ms;
    -webkit-transition-timing-function: cubic-bezier(.1,.81,.8,.93), cubic-bezier(0.320, -0.015, 0.960, 0.415);
    */

    -webkit-transition: -webkit-transform 900ms cubic-bezier(.1,.81,.8,.93), opacity 900ms cubic-bezier(0.320, -0.015, 0.960, 0.415);

    -moz-transition: -moz-transform 900ms cubic-bezier(.1,.81,.8,.93), opacity 900ms cubic-bezier(0.320, -0.015, 0.960, 0.415);

    -o-transition: -o-transform 900ms cubic-bezier(.1,.81,.8,.93), opacity 900ms cubic-bezier(0.320, -0.015, 0.960, 0.415);

    transition: transform 900ms cubic-bezier(.1,.81,.8,.93), opacity 900ms cubic-bezier(0.320, -0.015, 0.960, 0.415);

    display: inline-block;
}

.coolText {
    display: inline-block;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.015, 0.700, 1.000, 0.985);
    -moz-transition: -moz-transform 300ms cubic-bezier(0.015, 0.700, 1.000, 0.985);
    -o-transition: -o-transform 300ms cubic-bezier(0.015, 0.700, 1.000, 0.985);
    transition: transform 300ms cubic-bezier(0.015, 0.700, 1.000, 0.985);
}

.coolText:hover {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
    cursor: pointer;
}

.upText {
    display: inline-block;
    -webkit-transition: -webkit-transform 150ms cubic-bezier(0.015, 0.700, 1.000, 0.985);
    -moz-transition: -moz-transform 150 cubic-bezier(0.015, 0.700, 1.000, 0.985);
    -o-transition: -o-transform 150ms cubic-bezier(0.015, 0.700, 1.000, 0.985);
    transition: transform 150ms cubic-bezier(0.015, 0.700, 1.000, 0.985);
}

.upText:hover {
    -webkit-transform: translate(0px, -5px);
    -moz-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
    cursor: pointer;
}

@media all and (max-width: 1110px) and (min-width: 100px) {
    #page-wrap {
       width: 88%;
    }
}

@media all and (max-width: 1000px) and (min-width: 100px) {
    #page-instructions ul li {
        width: 100%;
        float: none;
    }

    #instr-info1 {
        min-height: 0px;
    }

    #instr-info1 h1 {
        padding-top: 15px;
    }
}

@media all and (max-width: 470px) and (min-width: 100px) {
    #bomb-svg-big {
        width: 250px;
        height: 250px;
    }
}

@media all and (max-width: 600px) and (min-width: 100px) {
    #warning-sign {
        display: block;
        margin: 0 auto;
    }
}

@media all and (max-width: 736px) and (min-width: 100px) {
    /*  Header Stuff */
    #page-head h1 {
        float: none;
    }

    #page-nav ul {
        float: left;
    }

    #page-nav ul li {
        margin-left: 9px;
    }

    #page-nav ul li.link-about {
        margin-left: 30px;
    }

    /*  Footer Stuff */
    li#footerShare {
        float: left;
        margin-left: 0px !important;
        margin-top: 20px;
    }

    #footerList #footerShare #footShareText {
        margin-left: 0px;
    }
}

@media all and (min-width: 700px) {

}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}